@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Ubuntu:wght@300&display=swap&family=Homemade+Apple&display=swap');

:root {
  --light-gold: #d5ad36;
  --dark-gold: #8e793e;
  --light-grey: #eaeaea;
  --dark-grey: #333333;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-grey);
  text-align: center;
}

.gold,
h1::first-letter,
h2::first-letter {
  color: var(--light-gold);
}

.nav-item .nav-link.gold {
  color: var(--light-gold);
}

.active .nav-item .nav-link.gold:hover {
  border-bottom: none;
}

.nav-item .nav-link.gold:hover {
  color: var(--light-gold);
  text-decoration: none;
  border-bottom: 1px solid var(--light-gold);
}

.bg-gold {
  background-color: var(--light-gold);
}

/* General */

body,
form > * {
  font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section,
article {
  margin-bottom: 30px;
}
@media screen and (min-width: 575px) {
  section h2 {
    padding-top: 70px;
  }
}

h1,
.header-font,
.initials,
h2::first-letter {
  font-family: 'Major Mono Display';
}

.signature {
  font-family: 'Homemade Apple';
  font-size: larger;
  margin-bottom: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(
    left,
    var(--dark-grey),
    var(--light-gold),
    var(--dark-grey)
  );
}

/* Navbar */
.navbar {
  z-index: 2;
  position: fixed;
  height: 70px;
  transition: 0.5s ease 0s;
}

.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  position: absolute;
}

/* .navbar,
.show,
.collapsing {
  z-index: 5;
} */

.menu.active {
  display: block;
  padding: 30px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.8);
  transition: 1s;
  visibility: visible;
  z-index: 99;
}

.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url(../images/menu.png) no-repeat center;
  background-size: 30px;
  margin: 5px 10px;
  z-index: 100;
  font-size: 30px;
  padding: 5px 15px;
}

.toggle.active {
  background: url(../images/close.png) no-repeat center;
  background-size: 30px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 25px;
  padding: 5px 15px;
}

/* Header */

header {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Intro */

.definition {
  border: var(--light-gold) 3px double;
  background-color: rgba(0, 0, 0, 0.3);
}

/* About Me */

/* Portfolio */
.card-deck .card .card-img-overlay {
  opacity: 0;
  transition: all 0.6s ease;
}

.card-deck .card:hover .card-img-overlay {
  opacity: 1;
  cursor: pointer;
}

.card-deck .card:hover .card-img-overlay h5 {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  border: var(--light-gold) 3px double;
}

/* Contact */
@media screen and (min-width: 575px) {
  #contactForm {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/bg-contact.jpg') center center/cover;
  }
}

textarea {
  resize: none;
}

/* Contact Cards */
.contact-cards {
  background-color: var(--dark-grey);
  border: none;
  font-size: larger;
}

.contact-card {
  color: var(--light);
}

/* Footer */
footer {
  border-top: 1px solid var(--light-gold);
  background-color: rgba(0, 0, 0, 0.3);
}

.initials {
  font-size: 32px;
}

.icon {
  font-size: 32px;
  color: var(--light);
}

.icon:hover,
.contact-card:hover {
  color: #d5ad36;
}
