header {
  height: 70px;
}

.navbar, .navbar.top {
  height: 100%;
  background-color: rgba(51,51,51,1);
}

/* Main Section */
section {
  display: block;
}

section > div {
  width: 80%;
  margin: 0 auto;
}

section > hr {
  margin-bottom: 30px;
}

/* Image */
.project-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img img {
  padding: 5px;
  border: #d5ad36 2px solid;
  justify-content: center;
}

/* Stack */
.stack {
  display: flex;
  justify-content: flex-end;
}

.stack img {
  width: 40px;
  height: 40px;
}

/* Buttons */

.page-links {
  display: flex;
  justify-content: space-between;
}

a.btn{
  color: #333;
}

/* Description */
.project-description {
  padding-top: 10px;
}

.project-description > div {
  padding-bottom: 20px;
}

.project-description p {
  margin: 0;
  padding: 10px 0;
}