/*
Color Palette:

light gold: #d5ad36
dark gold: #8e793e
dark grey: #333333
light grey: #eaeaea
*/

:root {
  --light-gold: #d5ad36;
  --dark-gold: #8e793e;
  --light-grey: #eaeaea;
  --dark-grey: #333333;
}

/* Color Scheme */
.text-primary {
  color: var(--light-grey);
}

.text-secondary {
  color: var(--dark-grey);
}

.text-gold {
  color: var(--light-gold);
}

/* Horizontal Rules */

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(
    left,
    var(--dark-grey),
    #d5ad36,
    var(--dark-grey)
  );
}

/* FlexColumns */
.flex-columns .row {
  display: block;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .col1,
.flex-columns .column .col2 {
  height: 100%;
}

/* Fav Icons */
.icons {
  text-align: center;
  font-size: 30px;
  padding: 10px 0 30px 0;
  color: var(--light-grey);
}

.fas {
  padding-bottom: 15px;
}

.contact-icons {
  display: block;
  flex-direction: row;
  width: 100%;
}

.contact-icons .icons {
  color: var(--light-grey);
  width: 100%;
  font-size: 16px;
}

.contact-icons i {
  font-size: 30px;
}

/* Disclaimer */

.disclaimer {
  padding: 5px;
  font-size: x-small;
  border: none;
  /* background: var(--light-grey); */
  /* color: #d5ad36; */
  opacity: 0.7;
  text-align: start;
}

/* Contact Links */
.contact-link {
  color: var(--light-grey);
  text-decoration: none;
}
